<div class="container-fluid item-wrapper">
  <div class="journey-modal-header header">
    <h2>Order</h2>
  </div>
<form [formGroup]="f">
  <div class="row">
    <div class="col-md-3 form-group">
      <label>Customer</label>
      <p-dropdown [filter]="true" placeholder="Select Customer" [options]="CustomerList" class="w-100" formControlName="customerId" optionLabel="name" optionValue="id"></p-dropdown>
    </div>
  <div class="col-md-3 form-group">
    <label>Suit Quantity</label>
    <p-inputNumber class="w-100" formControlName="suitQuantity" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Total</label>
    <p-inputNumber class="w-100" formControlName="total" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Advance</label>
    <p-inputNumber class="w-100" formControlName="advance" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Balance</label>
    <p-inputNumber disabled="true" class="w-100" formControlName="balance" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Delivery Date</label>
    <p-calendar formControlName="deliveryDate"></p-calendar>
  </div>
</div>
<div class="action-panel">
  <p-button (click)="Cancel_Click()" class="btn button-secondary" label="Cancel" styleClass="p-button-secondary"></p-button>
  <p-button (click)="onSubmit()" class="btn button-primary" label="Save"></p-button>
</div>
</form>

</div>
