<div class="container-fluid item-wrapper">
  <div class="journey-modal-header header">
    <h2>Measurements</h2>
  </div>
<form [formGroup]="f">
  <div class="row">
    <div class="col-md-3 form-group">
      <label>Customer</label>
      <p-dropdown  [filter]="true" placeholder="Select Customer" [options]="CustomerList" class="w-100" formControlName="customerId" optionLabel="name" optionValue="id"></p-dropdown>
    </div>
  <div class="col-md-3 form-group">
    <label>Shirt Chest</label>
    <p-inputNumber class="w-100" formControlName="shirtChest" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Shirt Waist</label>
    <p-inputNumber class="w-100" formControlName="shirtWaist" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Shoulder</label>
    <p-inputNumber class="w-100" formControlName="shoulder" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Sleeves</label>
    <p-inputNumber class="w-100" formControlName="sleeves" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Neck</label>
    <p-inputNumber class="w-100" formControlName="neck" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Shalwar Length</label>
    <p-inputNumber class="w-100" formControlName="shirtChest" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Shalwar Bottom</label>
    <p-inputNumber class="w-100" formControlName="shalwarBottom" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Ghera</label>
    <p-inputNumber class="w-100" formControlName="ghera" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Asan</label>
    <p-inputNumber class="w-100" formControlName="asan" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Coat Length</label>
    <p-inputNumber class="w-100" formControlName="coatLength" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Cross Back</label>
    <p-inputNumber class="w-100" formControlName="shirtChest" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Half Back</label>
    <p-inputNumber class="w-100" formControlName="halfBack" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Pent Length</label>
    <p-inputNumber class="w-100" formControlName="pentLength" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Pent Waist</label>
    <p-inputNumber class="w-100" formControlName="pentWaist" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Hip</label>
    <p-inputNumber class="w-100" formControlName="hip" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Knee</label>
    <p-inputNumber class="w-100" formControlName="knee" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Pent Bottom</label>
    <p-inputNumber class="w-100" formControlName="pentBottom" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Inside</label>
    <p-inputNumber class="w-100" formControlName="inside" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
  <div class="col-md-3 form-group">
    <label>Thai</label>
    <p-inputNumber class="w-100" formControlName="thai" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
  </div>
</div>
<div class="action-panel">
  <p-button (click)="Cancel_Click()" class="btn button-secondary" label="Cancel" styleClass="p-button-secondary"></p-button>
  <p-button (click)="onSubmit()" class="btn button-primary" label="Save"></p-button>
</div>
</form>

</div>
