/* Layout Wrapper */
.layout-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #1e1e2d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar.collapsed {
    width: 80px;
  }
  
  /* Sidebar Header with Logo */
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #fff;
  }
  
  .p-menuitem-link {
    color: #fff !important;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    transition: background-color 0.2s, padding 0.3s;
  }
  
  .p-menuitem-link:hover {
    background-color: #34495e;
  }
  
  /* Adjust padding when sidebar is collapsed */
  .sidebar.collapsed .p-menuitem-link {
    justify-content: center;
    padding: 0.8rem;
  }
  
  /* Main Content Area */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: padding-left 0.3s ease-in-out;
    padding-left: 250px; /* Default sidebar width */
  }
  
  .main-content.collapsed {
    padding-left: 80px; /* Reduced padding when sidebar is collapsed */
  }
  
  /* Top Bar */
  .topbar {
    background-color: #222b45;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #ffffff;
  }
  
  .topbar-title {
    font-size: 1.2rem;
    margin-right: auto;
  }
  
  .topbar-actions {
    display: flex;
    align-items: center;
  }
  
  .topbar-search {
    padding: 0.4rem 1rem;
    border-radius: 3px;
    margin-right: 0.5rem;
  }
  
  .topbar-icon {
    background: none;
    border: none;
    color: #ffffff;
    padding: 0.6rem;
    margin-left: 0.3rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .topbar-icon:hover {
    color: #1e88e5;
    background-color: #333;
    border-radius: 50%;
  }
  
  /* Content */
  .content {
    flex: 1;
    padding: 2rem;
    background-color: #f4f4f9;
    overflow-y: auto;
  }
  
  /* Sidebar Menu Icon Alignment */
  .p-menuitem-icon {
    margin-right: 0.8rem;
  }
  
  .sidebar.collapsed .p-menuitem-icon {
    margin: 0;
  }
  
  /* Responsive adjustments for small screens */
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .main-content {
      padding-left: 0;
    }
  
    .topbar .toggle-button {
      display: inline-block;
    }
  }
  