<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-6 form-group">
          <mat-form-field>
            <mat-select placeholder="Select Trip" formControlName="studentTrips" multiple>
              <mat-option *ngFor="let res of tripList; let i = index" [value]="res.id">
                {{res.trips}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
