<div class="container-fluid">
  <div class="row action-row">
    <div class="col-md-4">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText (keyup)="onFilterTextBoxChanged($event)" />
      </span>
    </div>
    <div class="col-md-8">
      <div class="action-panel">
        <p-button  class="btn button-secondary" label="Download" styleClass="p-button-secondary"></p-button>
        <p-button (click)="router.navigate(['/order/form'])" class="btn button-primary" label="Add Order"></p-button>
      </div>
    </div>
  </div>
  <div class="all-show-grid">
    <ag-grid-angular
      [defaultColDef]="defaultColDef"
      class="ag-theme-material"
      (cellDoubleClicked)="onCellClicked($event)"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [rowData]="orderList"
      (gridReady)="onGridReady($event)"
      [rowModelType]="'clientSide'"
      [suppressContextMenu]="true"
      #grid
    ></ag-grid-angular>
  </div>
</div>
