<div class="container-fluid">
  <mat-icon class="cursor" (click)="backNavigation()">
    <i class="material-icons"> arrow_back </i></mat-icon
  >
  <h3 class="form-heading">
    {{
      isEdit && selectedStudent
        ? studentForm.controls["firstName"].value + ' ' +
          studentForm.controls["lastName"].value
        : "CREATE STUDENT"
    }}
  </h3>
  <mat-horizontal-stepper (selectionChange)="onLinkClick($event)" #stepper>
    <mat-step>
      <ng-template matStepLabel>Student Information</ng-template>
      <app-student-information
      #studentInfo
        (getBygroup)="getBygroupId($event)"
        [groupList]="groupList"
        [agentList]="agentList"
        [campList]="campList"
        [studentForm]="studentForm"
        (onStudentRegistration)="onTabChange($event, stepper)"
        [student]="selectedStudent"
        [isEdit]="isEdit"
      >
      </app-student-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Flight Information</ng-template>
      <app-flight-information
        [studentForm]="studentForm"
        (onStudentRegistration)="onTabChange($event, stepper)"
        [student]="selectedStudent"
        (dateChanged)="applyDateChangeToField($event)"
        [isEdit]="isEdit"
      >
      </app-flight-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Medical Information</ng-template>
      <app-medical-information
        [studentForm]="studentForm"
        (onStudentRegistration)="onTabChange($event, stepper)"
        [student]="selectedStudent"
        [isEdit]="isEdit"
      >
      </app-medical-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Program Information</ng-template>
      <app-program-information
        (subProg)="getSubProgram($event)"
        (calcNumOfNights)="calcNumOfNights($event)"
        (onStudentRegistration)="onTabChange($event, stepper)"
        (dateChanged)="applyDateChangeToField($event)"
        [studentForm]="studentForm"
        (programUpdated)="getSelectedStudent(studentId)"
        [student]="selectedStudent"
        [addinsList]="addinsList"
        [campusList]="campusList"
        [chapProgramList]="chapProgramList"
        [subProgramList]="subProgramList"
        [formatList]="formatList"
        [mealPlanList]="mealPlanList"
        [programList]="programList"
        [isEdit]="isEdit"
      >
      </app-program-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Accomodation</ng-template>
      <app-accomodation
      #accom
        [studentForm]="studentForm"
        [student]="selectedStudent"
        [campusList]="campusList"
        [homeStayList]="homeStayList"
        [roomList]="roomList"
        [isEdit]="isEdit"
        (onStudentRegistration)="onTabChange($event, stepper)"
      >
      </app-accomodation>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment Information</ng-template>
      <app-payment-information
      #paymentInfo
        [studentForm]="studentForm"
        (studentEvent)="getSelectedStudent(studentId)"
        [student]="selectedStudent"
        [agentList]="agentList"
        [isEdit]="isEdit"
        [groupPaymentList]="groupPaymentList"
        (onStudentRegistration)="onTabChange($event, stepper)"
        (studentPayment)="getStudentPayments($event)"
      >
      </app-payment-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Trips Manager</ng-template>
      <app-trips-manager
        [studentForm]="studentForm"
        [student]="selectedStudent"
        [isEdit]="isEdit"
        (onStudentRegistration)="onTabChange($event, stepper)"
      >
      </app-trips-manager>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>File Manager</ng-template>
      <app-file-manager [studentForm]="studentForm"></app-file-manager>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Notes</ng-template>
      <app-notes
        [studentForm]="studentForm"
        [student]="selectedStudent"
        [isEdit]="isEdit"
      ></app-notes>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-card-actions>
    <div class="action-btns" style="padding: 10px;">
      <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="onSubmit(false)">Save</button>
      <button mat-raised-button class="btn btn-primary m-left" color="primary" (click)="onSubmit(true)">Save & Close
      </button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>
    </div>
  </mat-card-actions>
</div>
